.Contents {
    display: flex;
    flex-direction: column; 
    border: 1.5px solid var(--contents-border-color);
    border-radius: 6px;
    box-shadow: 5px 5px 10px var(--contents-shadow-color);
    background: var(--contents-bg-color);
    padding: 5px;
    width: 80%;
    margin: 30px auto 50px auto;
    word-break: break-word;
}

.Contents h4, h5 {
    margin: 5px;
}

.Contents h4 {
    font-size: var(--font-size-h4);
}

.Contents h5 {
    margin-bottom: 15px;
    font-size: var(--font-size-h5);
    font-weight:500;
    color: rgb(110, 110, 110);
}

p {
    font-size: var(--font-size-p);
}

.Contents a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

