.Contents {
    display: flex;
    flex-direction: column; 
    border: 1.5px solid rgb(196, 194, 194);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(196, 194, 194);
    background: rgb(252, 252, 252);
    padding: 5px;
    width: 80%;
    margin: 30px auto 50px auto;
    word-break: break-word;
}

.Contents h4, h5 {
    margin: 5px;
}

.Contents h5 {
    margin-bottom: 15px;
}

.Contents p, a {
    margin: 0;
}

