.Main-container {
    height: 100%;
    background:linear-gradient(20deg, white 75%, var(--main-bg-color) 30%) ;
    display: flex;
    flex-direction: column;
}

.cursus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-container {
    margin: 80px;
    text-align: center;
}

.h3-title, .experiencies-container, .training-container {
    text-align: center;
}

.experiencies-container {
    width: 50%;
}

.training-container {
    width: 50%;
}


