@media screen and (min-width:768px) {
    .cursus-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
}

.Main-container {
    height: 100%;
    background:linear-gradient(20deg, white 75%, var(--main-bg-color) 30%) ;
    display: flex;
    flex-direction: column;
}


.title-container {
    margin: 80px;
    text-align: center;
    font-size: var(--font-size-h1);

}


.h3-title, .experiencies-container, .training-container {
    text-align: center;
}

.h3-title {
    font-size: var(--font-size-h3);

}

.experiencies-container {
    width: 100%;
}

.training-container {
    width: 100%;
}


