.Sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--sidebar-bg-color);
    height: 100%;
}

.sidebar-contents {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.h4-title {
    text-align: center;
    margin: 8px;
    font-size: var(--font-size-h4);
}
.sidebar-contents p, a {
    text-align: center;
    margin: 2px;
}

.slide-icon {
    width: auto;
    height: 80px;
}

p {
    font-size: var;
}
