.User-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.avatar {
    width: 30%;
    border-radius: 50%;
}

.h2-title {
    font-size: var(--font-size-h2);
    margin-top: 15px;
}

.User-data {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.logo {
    width: 20px;
    height: 20px;
}

.h4-title {
    text-align: center;
    margin: 8px;
    font-size: var(--font-size-h4);
}

.User-data p, a {
    text-align: center;
    margin: 2px;
}

p {
    font-size:var(--font-size-p);
}

.User-data a {
    text-decoration: none;
    color: inherit;
}

.link {
    font-style: italic;
}



