@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@100;200;300;400;500&family=Saira+Condensed:wght@100;200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(176, 210, 245) ;
  --sidebar-bg-color: rgb(220, 231, 243);

}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: 'Marck Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Saira Condensed', sans-serif;
}

